
    body {
      background-color: #1e1e2f;
      color: #ffffff;
      font-family: Arial, sans-serif;
    }

    .navbar {
      background-color: #2b2b3c;
    }

    .navbar .navbar-brand, .navbar .nav-link {
      color: #ffffff;
    }

    .card {
      background-color: #2b2b3c;
      border: none;
      border-radius: 10px;
      color: #ffffff;
      padding: 15px;
      margin-bottom: 20px;
    }

    .dashboard .row {
      margin-bottom: 20px;
    }

    #consumoMensalChart, #consumoChart, #potenciaChart {
      background-color: #2b2b3c;
      padding: 10px;
      border-radius: 10px;
    }

    table {
      color: #ffffff;
    }

    th, td {
      color: #ffffff !important;
    }

    .card-header {
      font-size: 1.25rem;
      text-align: center;
      background-color: #3b3b4f;
      color: #ffffff;
    }

    .card .table-hover tbody tr:hover {
      background-color: #44445a;
    }
  