body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  box-sizing: border-box;
}

.navbar {
  grid-row: 1;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-rows: 55% 45%;
  grid-template-columns: 50% 50%;
  height: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

#consumoChart, #potenciaChart {
  max-width: 90%;
  max-height: 90%;
}

#consumoMensalChart {
  max-width: 95%;
  max-height: 90%;
}

.card {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.card-header {
  font-size: 1rem;
}

.card .table {
  font-size: 0.8rem;
}
